<link rel='stylesheet' href='../css/style.css' />
<header class="header">

  <a href="/" class="logo">
    <img src="img/logo.png" alt="">
  </a>

  <nav class="navbar">
    <a href="#">Product</a>
    <a href="#">Price</a>
    <a href="#">Resources</a>
    <a href="#">Solutions</a>
    <a href="#">Contact</a>
    <a href="#">Blogs</a>
  </nav>

  <div class="icons">
    <button class="btn btn-Login"><a href="/login" class="login">Sign In</a></button>
    <button class="btn btn-Signup"><a href="/register">Sign Up Free</a></button>
    <div class="fas fa-bars" id="menu-btn" style="margin-top: 20px;"></div>
  </div>
</header>
<div class="index-bottom">
    <section class="home" id="home">

        <div class="content">
            <div class="slogan">
                <h3>Connect with the world,</h3>
                <h3>one message at a time.</h3>
                <p>Enter your email below to create account and join with us.</p>
                <div class="submit-container-wrapper">
                    <div class="submit-container">
                        <form>
                            <input type="text" name="" placeholder="Enter your email address here">
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="image-chat">
                <img src="img/chat-home.png" alt="">
            </div>
        </div>

    </section>

    <!-- about section  -->

    <section class="about" id="about">

        <h1 class="heading"> <span>about</span> us </h1>

        <div class="row">

            <div class="image">
                <img src="img/about-us.jpg" alt="">
            </div>

            <div class="content">
                <h3>what About Banana Chat?</h3>
                <p>Banana Chat is an online chat platform that allows users to communicate with each other in real-time.
                    With Banana Chat, users can easily create an account, join different chat rooms, and start chatting
                    with people from all over the world.</p>
                <p>The platform offers a simple and user-friendly interface that makes it easy for users to navigate and
                    find their way around. Whether you're looking to meet new people, make new friends, or just want to
                    have some fun, Banana Chat is the perfect place to do so. With a vibrant community of users and a
                    variety of chat rooms to choose from, there's never a dull moment on Banana Chat. So, come join the
                    conversation and start chatting today!</p>
                <button class="btn btn-more">Learn more</button>
            </div>

        </div>

    </section>

    <!-- contact section  -->

    <section class="contact" id="contact">

        <h1 class="heading"> <span>contact</span> us </h1>

        <div class="row">

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.023524698746!2d106.69758091458868!3d10.732668892351278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b2747a81a3%3A0x33c1813055acb613!2sTon%20Duc%20Thang%20University!5e0!3m2!1sen!2s!4v1681136555859!5m2!1sen!2s"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

            <form action="">
                <h4>get in touch</h4>
                <div class="inputBox">
                    <span class="fas fa-user"></span>
                    <input type="text" placeholder="Name">
                </div>
                <div class="inputBox">
                    <span class="fas fa-envelope"></span>
                    <input type="email" placeholder="Email">
                </div>
                <div class="inputBox">
                    <span class="fas fa-phone"></span>
                    <input type="text" placeholder="Number">
                </div>
                <button type="submit" class="btn btn-contact">Contact Now</button>
            </form>

        </div>

    </section>

    <!-- footer section  -->

    <section class="footer">

        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-pinterest"></a>
        </div>

        <div class="links">
            <a href="#">Procuct</a>
            <a href="#">Price</a>
            <a href="#">Resources</a>
            <a href="#">Solutions</a>
            <a href="#">Contact</a>
            <a href="#">Blogs</a>
        </div>

        <div class="credit">Created by <span>Team VSV</span> | All rights reserved.</div>

    </section>

    <script src="js/script.js"></script>
</div>