 <link rel='stylesheet' href='../css/style.css' />
  <link rel='stylesheet' href='../js/script.js' />
<header class="header">

  <a href="/" class="logo">
    <img src="img/logo.png" alt="">
  </a>

  <nav class="navbar">
    <a href="#">Product</a>
    <a href="#">Price</a>
    <a href="#">Resources</a>
    <a href="#">Solutions</a>
    <a href="#">Contact</a>
    <a href="#">Blogs</a>
  </nav>

  <div class="icons">
    <button class="btn btn-Login"><a href="/login" class="login">Sign In</a></button>
    <button class="btn btn-Signup"><a href="/register">Sign Up Free</a></button>
    <div class="fas fa-bars" id="menu-btn" style="margin-top: 20px;"></div>
  </div>
</header>